*{
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: 'zabal';
    src: url(fonts/ZabalDEMO-Regular.otf);
}

/* css header e footer */
body{
    font-family: 'zabal';
}
.titulo{
    font-weight: 70000;
    color:rgba(0, 38, 83, 1);
    text-align: center;
    padding-top: 50px;
}
.logo{
    position: fixed;
    width: 100px;
    display: inline-block;
    background-position: left center;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'zabal';
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
.rodape{
    background-color: rgba(0, 77, 142, 1);
    flex-wrap: wrap;
    justify-content: flex-end;
}
.rodape p{
    color: white;
    text-align: end;
}
.voluntario{
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
    color: rgba(0, 37, 83, 0.473);
}
.pesquisa{
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 37, 83, 1);
    font-size: 20px;
    
}
.icon-instagram{
    width: 57px;
    height: 57px;
    flex-shrink: 0;
}
.slide{
    width: 1323px;
    height: 488px;
    flex-shrink: 0;

}
.texto-slide-um{
    text-align: center;
    width: 805px;
    height: 268px;
    flex-shrink: 0;
    display: flex;
    
}